.App{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}


.bg-img{
    position: absolute;
    height: 400px;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(./assets/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
